li(class="nav-item")
  a(class="nav-link active" data-toggle="tab" href="#general1" role="tab") ทั่วไป 1
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#general2" role="tab") ทั่วไป 2
li(class="nav-item" )
  a(class="nav-link" data-toggle="tab" href="#general3" role="tab") ทั่วไป 3
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#aa" role="tab") ครอบครัว
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#medicalProblem" role="tab") โรคประจำตัว 
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#cc" role="tab") แฟ้มภาพ/ลายนิ้วมือ 
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#dd" role="tab") การเปลี่ยนชื่อ/HN 
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#ee" role="tab") ข้อมูลปกปิด 
li(class="nav-item")
  a(class="nav-link" data-toggle="tab" href="#ff" role="tab") ประวัติผู้ป่วย
