div &nbsp;
.container-fluid
  .form-group.row
    .form-inline.col-md
      .col-md-2
        .float-sm-right(for="fname") ชื่อผู้ติดต่อ
      input.col-md-8.form-control#fname(type="text")
  .form-group.row
    .form-inline.col-md
      .col-md-2
       .float-md-right ที่อยู่ติดต่อ
      input.col-md-8.form-control#cname(type="text")
      button(type="button" class="btn btn-default") ผู้ป่วย
  .form-group.row
    div.form-inline.col-md
      .col-md-2
        .float-md-right ความสัมพันธ์กับผู้ป่วย
      select.col-md-4.bg-faded#tname(class="custom-select")
        option(selected) เลือก 
        option(value="1") ญาติ
        option(value="2") ญาติ1
        option(value="3") ญาติ2
      .col-md-1
        .float-md-right เบอร์โทร
      input.col-md-3.form-control#phone(type="text")
  .form-group.row
    .form-inline.col-md
      .col-md-2
        .float-md-right ชื่อบิดา
      input.col-md-4.form-control(type="text")
      .col-md-1
        .float-md-right นามสกุล
      input.col-md-3.form-control(type="text")
  .form-group.row
    .form-inline.col-md
      .col-md-2
        .float-md-right ชื่อมารดา
      input.col-md-4.form-control(type="text")
      .col-md-1
        .float-md-right นามสกุล
      input.col-md-3.form-control(type="text")
  .form-group.row
    .form-inline.col-md
      .col-md-2
        .float-md-right ชื่อคู่สมรส
      input.col-md-4.form-control(type="text")
      .col-md-1
        .float-md-right นามสกุล
      input.col-md-3.form-control(type="text")
  .form-group.row
    .form-inline.col-md
      .col-md-2
        .float-md-right Email
      input.col-md-4.form-control(type="text")
      .col-md-1
        .float-md-right ที่ทำงาน
      input.col-md-3.form-control(type="text")
  .form-group.row
    .form-inline.col-md
      .col-md-2
        .float-md-right หมายเหตุ
      input.col-md-10.form-control(type="text")
