extends ../layouts/base
doctype html
html(lang="en")
  head
    block title
      title= 'Database'

  body
    block content
      .user-f
        form
          .form-group
          label(for='inputFName') First Name
          input#inputFName.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter First Name')
          small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
          .form-group
          label(for='inputLName') Last Name
          input#inputLName.form-control(type='text', placeholder='Enter Last Name')
          .form-group
          label(for='sex') Sex
          select#sex.form-control
            option(value="") -- เลือก --
            option(value="F") ชาย
            option(value="M") หญิง
          .form-group
          label(for='exampleTextarea') Example textarea
          textarea#exampleTextarea.form-control(rows='3')
          .form-group 
          button(type="button" class="btn btn-info" role="group" onclick="addUser()") Add
          button(type="button" class="btn btn-danger" role="group" onclick="deleteUser()") Delete
          button(type="button" class="btn btn-danger" role="group" onclick="getConnetion()") selectM
          div#app(style = "background : red;") {{message}}
            span Message: {{ msg }}

block scripts
  script(src='/js/alert-comp.js')
  script(src='/js/database.js')
