extends ../layouts/template
doctype html
html(lang='en')
  head
    block title
      title= 'Index'
  body
    block content
      h1.page-header Welcome to Heraapp
    // /block content

  block scripts