div &nbsp;
.container-fluid 
  form
    div.form-group.row 
      label.col-sm-1.col-form-label(for="fname") บ้านเลขที่ :
      .col-sm-2
        input#addredd(type="text", class="form-control")
      label.col-sm-1.col-form-label(for="fname") หมู่บ้าน :
      .col-sm-5
        input#fname(type="text", class="form-control")
    div.form-group.row
      label.col-sm-1.col-form-label(for="language") หมู่ที่ :
      .col-sm-2
        input#language(type="text", class="form-control") 
      label.col-sm-1.col-form-label(for="cname") ตรอก/ซอย :
      .col-sm-5
        input#cname(type="text", class="form-control ") 
    div.form-group.row
      label.col-sm-1.col-form-label(for="cname") ชื่ออาคาร :
      .col-sm-2
        input#cname(type="text", class="form-control ")
      label.col-sm-1.col-form-label(for="cname") ห้องเลขที่ :
      .col-sm-5
        input#cname(type="text", class="form-control ")
    div.form-group.row
      label.col-sm-1.col-form-label(for="language") ชั้นที่ :
      .col-sm-2
        input#language(type="text", class="form-control") 
      label.col-sm-1.col-form-label(for="language") ถนน  :
      .col-sm-5
        input#language(type="text", class="form-control") 
    div.form-group.row
      label.col-sm-1.col-form-label(for="language") ตำบล/แขวน  :
      .col-sm-2
        input#language(type="text", class="form-control")
      label.col-sm-1.col-form-label(for="language") อำเถอ/เขต :
      .col-sm-5
        input#language(type="text", class="form-control") 
    div.form-group.row
      label.col-sm-1.col-form-label(for="language") จังหวัด :
      .col-sm-2
        input#language(type="text", class="form-control") 
      label.col-sm-1.col-form-label(for="language") รหัสไปรษณีย์ :
      .col-sm-5
        input#language(type="text", class="form-control")
    div.form-group.row
      label.col-sm-1.col-form-label(for="language") โทรศัพท์ :
      .col-sm-2
        input#language(type="text", class="form-control") 
      label.col-sm-1.col-form-label(for="language") เบอร์ติดต่อภายใน :
      .col-sm-5
        input#language(type="text", class="form-control")
      label.col-sm-1.col-form-label(for="language") โทรสาร :
      .col-sm-0
        input#language(type="text", class="form-control")
