doctype html
html(lang="en")
  head
    block meta
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    block title
      title= 'Welcome to Template'
      
    link(href='https://code.jquery.com/ui/jquery-ui-git.css', rel='stylesheet') 
    link(href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet')
    //- Bootstrap CDN
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet')
    //- Optional theme
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/bootstrap-datepicker/css/jquery.datetimepicker.min.css', rel='stylesheet')
    
    link(href='/css/heraapp-sass.css', rel='stylesheet')
  body 
    include header.jade
    
    main
      div.container(style="margin:30px;margin-top:2cm;")
        block content
          h2 Well done sir
          p This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.
          p Make sure to keep all page content within the
          a#menu-toggle.btn.btn-default(href='#menu-toggle') Toggle Menu
        
    link(href='/css/simple-sidebar.css', rel='stylesheet')
      
  footer(id="footer" role="contentinfo" data-module="components/footer")
    include footer.jade

  script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js")
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
  script(src="/bootstrap-datepicker/js/jquery.datetimepicker.full.js")
  script(src='https://unpkg.com/vue')

  
  script.
     console.log('template reder');
  
  block scripts
    script(src='/js/templateM.js')
